body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.navbar{
  background-color: #00B4F2;
}

.navbar .brand{
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
